# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
*.class
out/
classes/
# Maven
**/target/
**/target/maven-status/maven-compiler-plugin/compile/default-compile/
**/target/classes/com/clone/
**/target/classes/deployment.yaml
/target/
